CONFIG_NO_HZ=y
# CONFIG_PID_NS is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_CON_CHAN="pts"
CONFIG_SSL_CHAN="pts"
# CONFIG_COMPACTION is not set
# CONFIG_HW_RANDOM is not set
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
